@use '../mixins' as *;

//font sizes
$font-sizes: (
	small-caption: (
		large: 10.100000381469727,
		medium: 7,
		small: 7
	),
	caption: (
		large: 14.199999809265137,
		medium: 9.800000190734863,
		small: 9.800000190734863
	),
	body: (
		large: 20.100000381469727,
		medium: 13.899999618530273,
		small: 13.899999618530273
	),
	h5: (
		large: 28.399999618530273,
		medium: 19.700000762939453,
		small: 19.700000762939453
	),
	h4: (
		large: 40.20000076293945,
		medium: 27.799999237060547,
		small: 27.799999237060547
	),
	h3: (
		large: 56.900001525878906,
		medium: 39.29999923706055,
		small: 39.29999923706055
	),
	h2: (
		large: 80.4000015258789,
		medium: 55.599998474121094,
		small: 55.599998474121094
	),
	h1: (
		large: 113.69999694824219,
		medium: 78.5999984741211,
		small: 78.5999984741211
	),
	xl: (
		large: 160.8000030517578,
		medium: 111.19999694824219,
		small: 111.19999694824219
	),
	xxl: (
		large: 227.39999389648438,
		medium: 157.3000030517578,
		small: 157.3000030517578
	),
	xxxl: (
		large: 321.6000061035156,
		medium: 222.39999389648438,
		small: 222.39999389648438
	)
);

@include map-to-var-breakpoints($font-sizes, 'fs-', true);

$fs-small-caption: var(--fs-small-caption);
$fs-caption: var(--fs-caption);
$fs-body: var(--fs-body);
$fs-h5: var(--fs-h5);
$fs-h4: var(--fs-h4);
$fs-h3: var(--fs-h3);
$fs-h2: var(--fs-h2);
$fs-h1: var(--fs-h1);
$fs-xl: var(--fs-xl);
$fs-xxl: var(--fs-xxl);
$fs-xxxl: var(--fs-xxxl);
