@use '../mixins' as *;

//letter spacings
$-letter-spacings: (
	caption: (
		large: 0.01em,
		medium: 0.012em,
		small: 0.012em
	),
	body: (
		large: 0.005em,
		medium: 0em,
		small: 0em
	),
	h5: (
		large: 0em,
		medium: 0.005em,
		small: 0em
	),
	h4: (
		large: -0.005em,
		medium: 0.005em,
		small: 0em
	),
	h3: (
		large: -0.005em,
		medium: 0em,
		small: 0em
	),
	h2: (
		large: -0.01em,
		medium: 0em,
		small: 0em
	),
	h1: (
		large: -0.02em,
		medium: -0.005em,
		small: -0.002em
	),
	xl: (
		large: -0.02em,
		medium: -0.007em,
		small: -0.008em
	),
	xxl: (
		large: -0.021em,
		medium: -0.01em,
		small: -0.01em
	),
	xxxl: (
		large: -0.021em,
		medium: -0.017em,
		small: -0.012em
	)
);

@include map-to-var-breakpoints($-letter-spacings, 'ls-');

$ls-caption: var(--ls-caption);
$ls-body: var(--ls-body);
$ls-h5: var(--ls-h5);
$ls-h4: var(--ls-h4);
$ls-h3: var(--ls-h3);
$ls-h2: var(--ls-h2);
$ls-h1: var(--ls-h1);
$ls-xl: var(--ls-xl);
$ls-xxl: var(--ls-xxl);
$ls-xxxl: var(--ls-xxxl);
