@use './font-sizes' as *;
@use './uppercase-letter-spacing' as *;
@use './uppercase-line-height' as *;

$type-scale-uppercase: (
	caption: (
		line-height: $uppercase-lh-caption,
		letter-spacing: $uppercase-ls-body
	),
	body: (
		line-height: $uppercase-lh-body,
		letter-spacing: $uppercase-ls-body
	),
	h5: (
		line-height: $uppercase-lh-h5,
		letter-spacing: $uppercase-ls-h5
	),
	h4: (
		line-height: $uppercase-lh-h4,
		letter-spacing: $uppercase-ls-h4
	),
	h3: (
		line-height: $uppercase-lh-h3,
		letter-spacing: $uppercase-ls-h3
	),
	h2: (
		line-height: $uppercase-lh-h2,
		letter-spacing: $uppercase-ls-h2
	),
	h1: (
		line-height: $uppercase-lh-h1,
		letter-spacing: $uppercase-ls-h1
	),
	xl: (
		line-height: $uppercase-lh-xl,
		letter-spacing: $uppercase-ls-xl
	),
	xxl: (
		line-height: $uppercase-lh-xxl,
		letter-spacing: $uppercase-ls-xxl
	),
	xxxl: (
		line-height: $uppercase-lh-xxxl,
		letter-spacing: $uppercase-ls-xxxl
	)
);
