@use '../mixins' as *;

//line height
$-uppercase-letter-spacing: (
	caption: (
		large: 0.01em,
		medium: 0.01em,
		small: 0.012em
	),
	body: (
		large: 0.008em,
		medium: 0em,
		small: 0em
	),
	h5: (
		large: 0.008em,
		medium: 0em,
		small: 0em
	),
	h4: (
		large: 0em,
		medium: 0em,
		small: 0em
	),
	h3: (
		large: 0em,
		medium: 0em,
		small: 0em
	),
	h2: (
		large: -0.01em,
		medium: 0em,
		small: 0em
	),
	h1: (
		large: -0.012em,
		medium: -0.005em,
		small: -0.002em
	),
	xl: (
		large: -0.014em,
		medium: -0.007em,
		small: -0.008em
	),
	xxl: (
		large: -0.018em,
		medium: -0.01em,
		small: -0.01em
	),
	xxxl: (
		large: -0.02em,
		medium: -0.02em,
		small: -0.012em
	)
);

@include map-to-var($-uppercase-letter-spacing, 'uppercase-ls-');

$uppercase-ls-caption: var(--uppercase-ls-caption);
$uppercase-ls-body: var(--uppercase-ls-body);
$uppercase-ls-h5: var(--uppercase-ls-h5);
$uppercase-ls-h4: var(--uppercase-ls-h4);
$uppercase-ls-h3: var(--uppercase-ls-h3);
$uppercase-ls-h2: var(--uppercase-ls-h2);
$uppercase-ls-h1: var(--uppercase-ls-h1);
$uppercase-ls-xl: var(--uppercase-ls-xl);
$uppercase-ls-xxl: var(--uppercase-ls-xxl);
$uppercase-ls-xxxl: var(--uppercase-ls-xxxl);
