@use '../tokens' as *;

@each $key-parent, $value-parent in $spacers {
	$spacer-value: #{$key-parent};
	@each $key, $value in $value-parent {
		@if ($key == 'large') {
			.p-#{$value} {
				padding: var(--#{$key-parent});
			}

			.p-y-#{$value} {
				padding-block: var(--#{$key-parent});
			}

			.p-x-#{$value} {
				padding-inline: var(--#{$key-parent});
			}

			.p-t-#{$value} {
				padding-block-start: var(--#{$key-parent});
			}

			.p-r-#{$value} {
				padding-inline-end: var(--#{$key-parent});
			}

			.p-b-#{$value} {
				padding-block-end: var(--#{$key-parent});
			}

			.p-l-#{$value} {
				padding-inline-start: var(--#{$key-parent});
			}

			//margin
			.m-#{$value} {
				margin: var(--#{$key-parent});
			}

			.m-y-#{$value} {
				margin-block: var(--#{$key-parent});
			}

			.m-x-#{$value} {
				margin-inline: var(--#{$key-parent});
			}

			.m-t-#{$value} {
				margin-block-start: var(--#{$key-parent});
			}

			.m-r-#{$value} {
				margin-inline-end: var(--#{$key-parent});
			}

			@include mq('md') {
				.p-#{$value} {
					padding: 0;
				}

				.p-y-#{$value} {
					padding-block: 0;
				}

				.p-x-#{$value} {
					padding-inline: 0;
				}

				.p-t-#{$value} {
					padding-block-start: 0;
				}

				.p-r-#{$value} {
					padding-inline-end: 0;
				}

				.p-b-#{$value} {
					padding-block-end: 0;
				}

				.p-l-#{$value} {
					padding-inline-start: 0;
				}

				//margin
				.m-#{$value} {
					margin: 0;
				}

				.m-y-#{$value} {
					margin-block: 0;
				}

				.m-x-#{$value} {
					margin-inline: 0;
				}

				.m-t-#{$value} {
					margin-block-start: 0;
				}

				.m-r-#{$value} {
					margin-inline-end: 0;
				}
			}
		} @else if($key == 'medium') {
			@include mq('md') {
				.p-md-#{$value} {
					padding: var(--#{$key-parent});
				}

				.p-y-md-#{$value} {
					padding-block: var(--#{$key-parent});
				}

				.p-x-md-#{$value} {
					padding-inline: var(--#{$key-parent});
				}

				.p-t-md-#{$value} {
					padding-block-start: var(--#{$key-parent});
				}

				.p-r-md-#{$value} {
					padding-inline-end: var(--#{$key-parent});
				}

				.p-b-md-#{$value} {
					padding-block-end: var(--#{$key-parent});
				}

				.p-l-md-#{$value} {
					padding-inline-start: var(--#{$key-parent});
				}

				//margin
				.m-md-#{$value} {
					margin: var(--#{$key-parent});
				}

				.m-y-md-#{$value} {
					margin-block: var(--#{$key-parent});
				}

				.m-x-md-#{$value} {
					margin-inline: var(--#{$key-parent});
				}

				.m-t-md-#{$value} {
					margin-block-start: var(--#{$key-parent});
				}

				.m-r-md-#{$value} {
					margin-inline-end: var(--#{$key-parent});
				}

				.m-b-md-#{$value} {
					margin-block-end: var(--#{$key-parent});
				}

				.m-l-md-#{$value} {
					margin-inline-start: var(--#{$key-parent});
				}

				@include mq('sm') {
					.p-md-#{$value} {
						padding: 0;
					}

					.p-y-md-#{$value} {
						padding-block: 0;
					}

					.p-x-md-#{$value} {
						padding-inline: 0;
					}

					.p-t-md-#{$value} {
						padding-block-start: 0;
					}

					.p-r-md-#{$value} {
						padding-inline-end: 0;
					}

					.p-b-md-#{$value} {
						padding-block-end: 0;
					}

					.p-l-md-#{$value} {
						padding-inline-start: 0;
					}

					//margin
					.m-md-#{$value} {
						margin: 0;
					}

					.m-y-md-#{$value} {
						margin-block: 0;
					}

					.m-x-md-#{$value} {
						margin-inline: 0;
					}

					.m-t-md-#{$value} {
						margin-block-start: 0;
					}

					.m-r-md-#{$value} {
						margin-inline-end: 0;
					}

					.m-b-md-#{$value} {
						margin-block-end: 0;
					}

					.m-l-md-#{$value} {
						margin-inline-start: 0;
					}
				}
			}
		} @else {
			@include mq('sm') {
				.p-sm-#{$value} {
					padding: var(--#{$key-parent});
				}

				.p-y-sm-#{$value} {
					padding-block: var(--#{$key-parent});
				}

				.p-x-sm-#{$value} {
					padding-inline: var(--#{$key-parent});
				}

				.p-t-sm-#{$value} {
					padding-block-start: var(--#{$key-parent});
				}

				.p-r-sm-#{$value} {
					padding-inline-end: var(--#{$key-parent});
				}

				.p-b-sm-#{$value} {
					padding-block-end: var(--#{$key-parent});
				}

				.p-l-sm-#{$value} {
					padding-inline-start: var(--#{$key-parent});
				}

				//margin
				.m-sm-#{$value} {
					margin: var(--#{$key-parent});
				}

				.m-y-sm-#{$value} {
					margin-block: var(--#{$key-parent});
				}

				.m-x-sm-#{$value} {
					margin-inline: var(--#{$key-parent});
				}

				.m-t-sm-#{$value} {
					margin-block-start: var(--#{$key-parent});
				}

				.m-r-sm-#{$value} {
					margin-inline-end: var(--#{$key-parent});
				}

				.m-b-sm-#{$value} {
					margin-block-end: var(--#{$key-parent});
				}

				.m-l-sm-#{$value} {
					margin-inline-start: var(--#{$key-parent});
				}
			}
		}
	}
}

//margin inline auto
.mx-auto {
	margin-inline: auto;
}
