@use '../abstract' as *;

@each $key, $value in $converted-sizes {
	//padding
	.p-#{$key} {
		padding: $value;
	}

	.p-y-#{$key} {
		padding-block: $value;
	}

	.p-x-#{$key} {
		padding-inline: $value;
	}

	.p-t-#{$key} {
		padding-block-start: $value;
	}

	.p-r-#{$key} {
		padding-inline-end: $value;
	}

	.p-b-#{$key} {
		padding-block-end: $value;
	}

	.p-l-#{$key} {
		padding-inline-start: $value;
	}

	//margin
	.m-#{$key} {
		margin: $value;
	}

	.m-y-#{$key} {
		margin-block: $value;
	}

	.m-x-#{$key} {
		margin-inline: $value;
	}

	.m-t-#{$key} {
		margin-block-start: $value;
	}

	.m-r-#{$key} {
		margin-inline-end: $value;
	}
}

@include mq('medium') {
	@each $key, $value in $converted-sizes {
		//padding
		.p-md-#{$key} {
			padding: $value;
		}

		.p-y-md-#{$key} {
			padding-block: $value;
		}

		.p-x-md-#{$key} {
			padding-inline: $value;
		}

		.p-t-md-#{$key} {
			padding-block-start: $value;
		}

		.p-r-md-#{$key} {
			padding-inline-end: $value;
		}

		.p-b-md-#{$key} {
			padding-block-end: $value;
		}

		.p-l-md-#{$key} {
			padding-inline-start: $value;
		}

		//margin
		.m-md-#{$key} {
			margin: $value;
		}

		.m-y-md-#{$key} {
			margin-block: $value;
		}

		.m-x-md-#{$key} {
			margin-inline: $value;
		}

		.m-t-md-#{$key} {
			margin-block-start: $value;
		}

		.m-r-md-#{$key} {
			margin-inline-end: $value;
		}

		.m-b-md-#{$key} {
			margin-block-end: $value;
		}

		.m-l-md-#{$key} {
			margin-inline-start: $value;
		}
	}
}

@include mq('small') {
	@each $key, $value in $converted-sizes {
		//padding
		.p-sm-#{$key} {
			padding: $value;
		}

		.p-y-sm-#{$key} {
			padding-block: $value;
		}

		.p-x-sm-#{$key} {
			padding-inline: $value;
		}

		.p-t-sm-#{$key} {
			padding-block-start: $value;
		}

		.p-r-sm-#{$key} {
			padding-inline-end: $value;
		}

		.p-b-sm-#{$key} {
			padding-block-end: $value;
		}

		.p-l-sm-#{$key} {
			padding-inline-start: $value;
		}

		//margin
		.m-sm-#{$key} {
			margin: $value;
		}

		.m-y-sm-#{$key} {
			margin-block: $value;
		}

		.m-x-sm-#{$key} {
			margin-inline: $value;
		}

		.m-t-sm-#{$key} {
			margin-block-start: $value;
		}

		.m-r-sm-#{$key} {
			margin-inline-end: $value;
		}

		.m-b-sm-#{$key} {
			margin-block-end: $value;
		}

		.m-l-sm-#{$key} {
			margin-inline-start: $value;
		}
	}
}

//margin inline auto
.mx-auto {
	margin-inline: auto;
}
