@use '../mixins' as *;
@use '../sizes' as *;

$size-icon-height-100: $size-24;
$size-icon-width-100: $size-24;

@include mq('medium') {
	$size-icon-height-100: $size-20;
	$size-icon-width-100: $size-20;
}

@include mq('small') {
	$size-icon-height-100: $size-20;
	$size-icon-width-100: $size-20;
}
