@use '../mixins' as *;
@use '../sizes' as *;

$-ico-size: (
	ico-height-100: (
		large: $size-24,
		medium: $size-20,
		small: $size-20
	),
	ico-width-100: (
		large: $size-24,
		medium: $size-20,
		small: $size-20
	)
);

@include map-to-var-breakpoints($-ico-size);

$size-icon-height-100: var(--ico-height-100);
$size-icon-width-100: var(--ico-width-100);
