$time-1: var(--time-1);
$time-2: var(--time-2);
$time-3: var(--time-3);
$time-4: var(--time-4);
$time-5: var(--time-5);
$time-6: var(--time-6);
$time-7: var(--time-7);
$time-8: var(--time-8);
$time-9: var(--time-9);
$time-10: var(--time-10);
$time-11: var(--time-11);
$time-12: var(--time-12);
$time-13: var(--time-13);
$time-14: var(--time-14);
$time-15: var(--time-15);
