@use '../abstract' as *;

* {
	caret-color: $caret-color;
}

body {
	font-family: $body-font-family;

	letter-spacing: $body-letter-spacing;
	font-weight: $body-font-weight;
}

p,
ul,
ol {
	font-size: $base-font-size;
	line-height: $body-line-height;

	&.uppercase {
		text-transform: uppercase;
		line-height: $uppercase-lh-body;
		letter-spacing: $uppercase-ls-body;
	}
}

p + p {
	text-indent: $paragraph-indent;
}

p:not(:last-child) {
	padding-bottom: $paragraph-spacing;
}

a {
	text-decoration-thickness: $anchor-line-thickness;
	color: inherit;
}

::selection {
	background-color: $selection-background-color;
	color: $selection-text-color;
}

h5 {
	font-size: $fs-h5;
	line-height: $lh-h5;
	letter-spacing: $ls-h5;

	&.uppercase {
		text-transform: uppercase;
		line-height: $uppercase-lh-h5;
		letter-spacing: $uppercase-ls-h5;
	}
}

h4 {
	font-size: $fs-h4;
	line-height: $lh-h4;
	letter-spacing: $ls-h4;

	&.uppercase {
		text-transform: uppercase;
		line-height: $uppercase-lh-h4;
		letter-spacing: $uppercase-ls-h4;
	}
}

h3 {
	font-size: $fs-h3;
	line-height: $lh-h3;
	letter-spacing: $ls-h3;

	&.uppercase {
		text-transform: uppercase;
		line-height: $uppercase-lh-h3;
		letter-spacing: $uppercase-ls-h3;
	}
}

h2 {
	font-size: $fs-h2;
	line-height: $lh-h2;
	letter-spacing: $ls-h2;

	&.uppercase {
		text-transform: uppercase;
		line-height: $uppercase-lh-h2;
		letter-spacing: $uppercase-ls-h2;
	}
}

h1 {
	font-size: $fs-h1;
	line-height: $lh-h1;
	letter-spacing: $ls-h1;

	&.uppercase {
		text-transform: uppercase;
		line-height: $uppercase-lh-h1;
		letter-spacing: $uppercase-ls-h1;
	}
}

@media (prefers-reduced-motion: no-preference) {
	:has(:target) {
		scroll-behavior: smooth;
		scroll-padding-top: $size-32;
	}
}
