*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
	//tap highlight color
	-webkit-tap-highlight-color: transparent;
}

html {
	hanging-punctuation: first last;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

p,
li {
	max-width: 75ch;
	text-wrap: pretty;
}
