@use '../tokens/functional' as *;
@use '../tokens/primitive/typography' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	//tap highlight color
	-webkit-tap-highlight-color: transparent;
	background-color: $clr-sur-page;

	text-box-trim: trim-both;
	text-box-edge: cap alphabetic;
	hanging-punctuation: first last;
	color: $clr-text-primary;
	font-family: $ff-base;
}

img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}

p,
li {
	max-width: 75ch;
	text-wrap: pretty;
}
