@use '../../tokens/functional' as *;
@use '../../tokens/primitive/typography' as *;

.paragraph-spacing {
	p:not(:last-child),
	.p:not(:last-child) {
		margin-bottom: $paragraph-spacing;
	}
}

.paragraph-indent {
	p:not(:first-child),
	.p:not(:first-child) {
		text-indent: $paragraph-indent;
		margin-bottom: $lh-body-half;
	}
}
