@use '../../tokens/functional/typography' as *;
@use '../../abstract/_functions' as *;
@use 'sass:string';

@each $key, $value in $typescale-spacers {
	$is-default: string.index($key, 'default');

	@if $is-default {
		$clean-key: '#{$key}';
		$clean-key: str-replace($clean-key, '-default', '');

		$new-value: 'ts-' + $clean-key + '-default';

		.#{$clean-key}-margin-bt {
			margin-bottom: var(--#{$new-value});
		}

		.#{$clean-key}-margin-top {
			margin-top: var(--#{$new-value});
		}
	}

	$is-spaced: string.index($key, 'spaced');

	@if $is-spaced {
		$clean-key: '#{$key}';
		$clean-key: str-replace($clean-key, '-spaced', '');

		$new-value: 'ts-' + $clean-key + '-spaced';

		.#{$clean-key}-margin-bt[data-margin='spaced'] {
			margin-bottom: var(#{$new-value});
		}

		.#{$clean-key}-margin-top[data-margin='spaced'] {
			margin-top: var(--#{$new-value});
		}
	}
}
