@use '../../primitive/clr/_neutral' as *;

$neutrals-100: $neutrals-0;
$neutrals-200: $neutrals-1;
$neutrals-300: $neutrals-2;
$neutrals-400: $neutrals-3;
$neutrals-500: $neutrals-4;
$neutrals-600: $neutrals-5;
$neutrals-700: $neutrals-6;
$neutrals-800: $neutrals-7;
$neutrals-900: $neutrals-8;
$neutrals-1000: $neutrals-9;
