@use '../mixins' as *;
@use './font-sizes' as *;
@use '../mixins' as *;

//line height
$line-height-default: (
	small-caption: (
		large: 14,
		medium: 10,
		small: 10
	),
	caption: (
		large: 14,
		medium: 10,
		small: 10
	),
	body: (
		large: 28,
		medium: 20,
		small: 20
	),
	h5: (
		large: 42,
		medium: 30,
		small: 30
	),
	h4: (
		large: 56,
		medium: 30,
		small: 40
	),
	h3: (
		large: 56,
		medium: 50,
		small: 50
	),
	h2: (
		large: 84,
		medium: 70,
		small: 70
	),
	h1: (
		large: 126,
		medium: 90,
		small: 90
	),
	xl: (
		large: 182,
		medium: 120,
		small: 120
	),
	xxl: (
		large: 224,
		medium: 160,
		small: 160
	),
	xxxl: (
		large: 322,
		medium: 220,
		small: 220
	)
);

:root {
	@include generate-line-height($line-height-default, $font-sizes, 'lh');
}

$lh-small-caption: var(--lh-small-caption);
$lh-caption: var(--lh-caption);
$lh-body: var(--lh-body);
$lh-h5: var(--lh-h5);
$lh-h4: var(--lh-h4);
$lh-h3: var(--lh-h3);
$lh-h2: var(--lh-h2);
$lh-h1: var(--lh-h1);
$lh-xl: var(--lh-xl);
$lh-xxl: var(--lh-xxl);
$lh-xxxl: var(--lh-xxxl);
