$neutrals-0: #ffffff;
$neutrals-1: #f0f7ef;
$neutrals-2: #d7e4d6;
$neutrals-3: #b3c4b4;
$neutrals-4: #899a8b;
$neutrals-5: #5e6b60;
$neutrals-6: #38413a;
$neutrals-7: #1d221e;
$neutrals-8: #0d0f0e;
$neutrals-9: #070807;
