@use '../gap' as *;
@use '../padding' as *;
@use '../ico-size' as *;
@use '../time' as *;

$accordion-header-icon-gap: $space-text-icon-gap-100;
$accordion-header-padding-y: $space-icon-edge-y-100;
$accordion-header-padding-x: $space-icon-edge-x-100;

$accordion-header-icon-height: $size-icon-height-100;
$accordion-header-icon-width: $size-icon-width-100;

$accordion-description-padding-y: $space-text-edge-y-100;
$accordion-description-padding-x: $space-text-edge-x-100;

$accordion-transition-duration: $duration-base;
