@use '$breakpoints' as *;

:root {
	--height-mobile: 40px;
	--height-desktop: 60px;
	--button-height: var(--height-mobile);
}

@media (min-width: 768px) {
	:root {
		--button-height: var(--height-desktop);
	}
}

$height: var(--button-height);
