@use '../gap' as *;
@use '../padding' as *;
@use '../ico-size' as *;
@use '../time' as *;

$accordion-header-icon-gap: 10px;
$accordion-header-padding-y: 10px;
$accordion-header-padding-x: 10px;

$accordion-header-icon-height: 24px;
$accordion-header-icon-width: 24px;

$accordion-description-padding-y: 10px;
$accordion-description-padding-x: 10px;

$accordion-transition-duration: 0.2s;
