@use '../sizes' as *;

$br: (
	none: 0,
	sm: $size-2,
	md: $size-4,
	lg: $size-8,
	full: 100%
);

$border-radius-none: var(--br-none);
$border-radius-sm: var(--br-sm);
$border-radius-md: var(--br-md);
$border-radius-lg: var(--br-lg);
$border-radius-full: var(--br-full);
