$br: (
	none: 0,
	1: $size-1,
	2: $size-2,
	3: $size-3,
	4: $size-4,
	6: $size-6,
	8: $size-8,
	12: $size-12,
	16: $size-16,
	24: $size-24,
	32: $size-32,
	48: $size-48,
	64: $size-64,
	full: 100%
);

$border-radius-none: var(--br-none);
$border-radius-1: var(--br-1);
$border-radius-2: var(--br-2);
$border-radius-3: var(--br-3);
$border-radius-4: var(--br-4);
$border-radius-6: var(--br-6);
$border-radius-8: var(--br-8);
$border-radius-12: var(--br-12);
$border-radius-16: var(--br-16);
$border-radius-24: var(--br-24);
$border-radius-32: var(--br-32);
$border-radius-48: var(--br-48);
$border-radius-64: var(--br-64);
$border-radius-full: var(--br-full);
