@use './sizes' as *;

$br: (
	none: 0,
	1: $size-1,
	2: $size-2,
	3: $size-3,
	4: $size-4,
	6: $size-6,
	8: $size-8,
	12: $size-12,
	16: $size-16,
	24: $size-24,
	32: $size-32,
	48: $size-48,
	64: $size-64,
	full: 100%
);

$br-none: var(--br-none);
$br-1: var(--br-1);
$br-2: var(--br-2);
$br-3: var(--br-3);
$br-4: var(--br-4);
$br-6: var(--br-6);
$br-8: var(--br-8);
$br-12: var(--br-12);
$br-16: var(--br-16);
$br-24: var(--br-24);
$br-32: var(--br-32);
$br-48: var(--br-48);
$br-64: var(--br-64);
$br-full: var(--br-full);
