$breakpoints: (
	small: 699,
	medium: 1023,
	large: 1932
);

//change these values
$ss-large-high: 1932;
$ss-large-low: 1024;
$ss-medium-high: 1023;
$ss-medium-low: 700;
$ss-small-high: 699;
$ss-small-low: 360;

:root {
	--ss-large-high: #{$ss-large-high};
	--ss-large-low: #{$ss-large-low};
	--ss-medium-high: #{$ss-medium-high};
	--ss-medium-low: #{$ss-medium-low};
	--ss-small-high: #{$ss-small-high};
	--ss-small-low: #{$ss-small-low};
}

////PLEASE DON'T FORGET TO UPDATE BREAKPOINTS-STORE
