//no point changing
$breakpoints: (
	small: 767,
	medium: 1023,
	large: 1928 //might not be useful
);

//change these values
$ss-large-high: 1928;
$ss-large-low: 1024;
$ss-medium-high: 1023;
$ss-medium-low: 768;
$ss-small-high: 767;
$ss-small-low: 356;

:root {
	--ss-large-high: #{$ss-large-high};
	--ss-large-low: #{$ss-large-low};
	--ss-medium-high: #{$ss-medium-high};
	--ss-medium-low: #{$ss-medium-low};
	--ss-small-high: #{$ss-small-high};
	--ss-small-low: #{$ss-small-low};
}

////PLEASE DON'T FORGET TO UPDATE BREAKPOINTS-STORE
