//global variables
$-clr-green-0: #f6ffeb;
$-clr-green-1: #eefbdf;
$-clr-green-2: #def3c7;
$-clr-green-3: #c7e8a3;
$-clr-green-4: #a8d876;
$-clr-green-5: #86c248;
$-clr-green-6: #65a623;
$-clr-green-7: #49840d;
$-clr-green-8: #326103;
$-clr-green-9: #204000;

$-clr-grey-0: #ffffff;
$-clr-grey-1: #f0f7ef;
$-clr-grey-2: #d7e4d6;
$-clr-grey-3: #b3c4b4;
$-clr-grey-4: #899a8b;
$-clr-grey-5: #5e6b60;
$-clr-grey-6: #38413a;
$-clr-grey-7: #1d221e;
$-clr-grey-8: #0d0f0e;
$-clr-grey-9: #070807;

$-clr-blue-0: #ebf5ff;
$-clr-blue-1: #c0daf1;
$-clr-blue-2: #5b95c7;
$-clr-blue-3: #104e84;
$-clr-blue-4: #002240;

$-clr-orange-0: #fff0eb;
$-clr-orange-1: #f8b08d;
$-clr-orange-2: #e37837;
$-clr-orange-3: #c1540a;
$-clr-orange-4: #9e4200;

$-clr-red-0: #ffebeb;
$-clr-red-1: #f8958d;
$-clr-red-2: #e34d37;
$-clr-red-3: #c1270a;
$-clr-red-4: #9e1a00;
