@use './mixins' as *;
@use './container' as *;
@use 'sass:list';
@use 'sass:meta';
@use 'sass:map';

$total-columns: (
	total-columns: (
		large: 16,
		medium: 8,
		small: 4
	)
);

@include map-to-var-breakpoints($total-columns);

$column-count: var(--total-columns);
