@use './breakpoint' as *;
@use './sizes' as *;
@use './typography' as *;
@use './columns' as *;
@use './container' as *;

//body
$body-font-family: $font-family-base;
$body-line-height: $lh-body;
$body-letter-spacing: $ls-body;

//since body font size is set to 1vw its base
$base-font-size: $fs-body;
$body-font-weight: $font-weight-regular;

//paragraph
$paragraph-indent: var(--paragraph-indent);
$paragraph-spacing: var(--paragraph-spacing);

//anchor tag
$anchor-line-thickness: $ut-body-1;

//grid
$grid-gap: $gutter;
$grid-gap-half: calc($gutter/2);

//separator
$separator-height: $size-1;
$separator-color: #000;

$vertical-separator-width: $size-1;
$vertical-separator-color: #000;

//text selection
$selection-background-color: #333;
$selection-text-color: #fff;

//outline color
$text-outline-color: #000;

//forms
////caret color
$caret-color: inherit;

//layout
$flow-gap: $size-32;
