@use '../space/page-setup/_gutters.scss' as *;
@use '../../../abstract/_mixins.scss' as *;

$-p-spacing: (
	paragraph-spacing: (
		large: $gutter,
		medium: $gutter,
		small: $gutter
	)
);

@include map-to-var-breakpoints($-p-spacing);

$paragraph-spacing: var(--paragraph-spacing);
